:root {
  --background: #333;
  --foreground: white;
  --text-4xl: 4rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color:var(--foreground)
}
a {
  padding: 15px;
  text-align: center;
    color: rgb(255, 255, 255);
}
body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--foreground);
}

label {
    color: rgb(0, 0, 0);
    font-size: 110%;
    color: var(--foreground);
}

.page-title {
    margin: 20px;
    font-size: 300%;
    color: var(--foreground);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-subtitle {
    margin: 45px;
    font-size: 135%;
    color: var(--foreground)
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-form {
    display: inline;
}

input[type=text] {
  width: 30%;
  margin: 15px 0;
  padding: 7px 20px;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

textarea {
  width: 30%;
  margin: 15px 0;
  padding: 7px 20px;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=submit] {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 105%;
    width: 80px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
    background-color: rgb(145, 144, 144);
}

input[type=submit]:active {
    background-color: rgb(73, 142, 73);
}
