body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #333;
    color: white;
    font-size: 20px;
}  
h1{
    text-align: center;
    font-size: 50px;
    font-style: Bold;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
    margin-bottom: 100px;
}
.aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}
button:hover{
  background-color: #222;
  color: #fff;
}
.profile:hover{
    color:aqua;
    transition: color 0.3s ease;
}
a {
    color: rgb(255, 255, 255);
}
a:hover {
    color: #ff6600;
    text-decoration: underline;
    transition: color 0.3s ease;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}
#a, #b, #c, #d{
    border: 2px solid white;
    padding: 25px;
    border-radius: 20px;
}